
/* common */
.section-subtitle{
    word-spacing: 4px;
}

ul{
    margin: 0;
    padding: 0;
    list-style: none;
    height: auto;
}

.float-left{
    float: left;
}
.float-right{
    float: right;
    text-align: right;
}

/* hero */
.intro-heading{
    letter-spacing: 20px;
}

/* services */
.service-img{
    width:100%;
    height: 100%;
    border-radius: 200px;
}
.service-img-wrapper{
    margin-bottom: 1em;
}

a>.service-highlight:hover{
    text-decoration: none;
}

.service-highlight:hover{
    box-shadow: 6px 6px 36px #fed136;
}
/* about */
.timeline>li{
    margin-bottom: 50px;
}

.culture-title{
    font-size: 1.5em;
}

/* client */
aside h3.section-subheading{
    margin-bottom: 75px;
    text-transform: none;
    font-family: "Droid Serif","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 16px;
    font-style: italic;
    font-weight: 400;
}

aside h2.section-heading {
    margin-top: 0;
    margin-bottom: 15px;
    font-size: 40px;
}

aside.clients{
    padding-top: 100px;
    padding-bottom: 100px;
}

.clients-title{
    margin-top: 40px;
    font-size: 20px;
    font-weight: 600;
    color: #fed136;
}

/* contact */
.method-box{
    height: 100%;
    min-width: 100px;
    min-height: 100px;
    margin: 20px;
    padding: 10px;
    background-color: aliceblue;

}

.method-icon{
    min-height: 50px;
    line-height: 50px;
    text-align: center;
    font-size: 36px;
    color: #fed136;
}

.method-content{
    height: auto;
    line-height: 50px;
    text-align: center;
}

section#contact{
    background-color: white;
    background-image: none;
    background-position: center;
    background-repeat: no-repeat;
}
section#contact .section-heading {
    color: inherit;
}

/* 
    teaching 
*/
/* motivation */
.moti{
    display: flex;
    justify-content: space-around;
}
.moti>li{
    height: auto;
    background: azure;
    min-width: 200px;
    text-align: center;
    line-height: 40px;
    padding: 20px;
}
.moti>li .bad{
    display: inline-block;
    color: #ccc;
    text-decoration: line-through #fed126;
}
.moti>li .good{
    display: inline-block;
    font-size: 1.3em;
    color: #fed126;
}
/* special */
.special-item{
    height: 200px;
}
.special-img{
    width: 150px;
    height: 150px;
    margin: 25px;
}
.special-img>img{
    height: 100%;
    width: 100%;
}
.special-content>p{
    height: auto;
    width: 500px;
    overflow-wrap: break-word;
}
/* courses */
.flex-space-around{
    justify-content: space-between;
}
.course-wrapper{
    text-align: center;
}

.module-wrapper{
    padding: 30px;
}
.module{
    margin-top: 30px;
    line-height: 100px;
}
.module-circle{    
    background-color: aqua;
    float: left;
    width: 100px;
    height: 100px;
    border-radius: 50px;
    text-align: center;
    line-height: 100px;
}
.module>p{
    line-height: 30px;
    display: inline-block;
    width: 600px;
    height: auto;
    overflow-wrap: break-word;
    margin-left: 30px;
}