<!DOCTYPE html>
<html lang="{{ with .Site.LanguageCode }}{{ . }}{{ else }}en-US{{ end }}">

{{ partial "head.html" . }}

<!-- navigation -->
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header page-scroll">
      {{ if .Site.Params.navigation.logo }}
      <a class="navbar-brand page-scroll" href="{{ if .IsHome }}/#page-top{{ else }}{{ .Site.BaseURL }}{{ end }}">
        {{ $url := printf "img/%s" .Site.Params.navigation.logo }}
        <img src="{{ $url | absURL }}" class="img-responsive" alt="{{ .Site.Params.navigation.brand }}">
      </a>
      {{ else }}
      <a class="navbar-brand page-scroll" href="{{ if .IsHome }}/#page-top{{ else }}{{ .Site.BaseURL }}{{ end }}">
        {{ .Site.Params.navigation.brand }}
      </a>
      {{ end }}
    </div>
  </div>
</nav>

<!-- motivation -->
<section id="motivation">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">平台目标</h2>
        <h3 class="section-subheading text-muted section-subtitle">MOTIVATION</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <ul class="moti">
          <li><span class="bad">备课的优质资源难找</span><br><span class="good">备课的优质资源难找</span></li>
          <li><span class="bad">备课的优质资源难找</span><br><span class="good">备课的优质资源难找</span></li>
          <li><span class="bad">备课的优质资源难找</span><br><span class="good">备课的优质资源难找</span></li>
        </ul>
      </div>
    </div>
  </div>
</section>
<!-- special -->
<section class="special">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">平台特色</h2>
        <h3 class="section-subheading text-muted section-subtitle">SPECIAL</h3>
      </div>
    </div>
    <div class="row">
      <div class="special-item">
        <div class="special-img float-left"><img src="http://localhost:1313/img/header-bg.jpg"></div>
        <div class="special-content float-left">
          <h2>UUEIFIEFIE</h2>
          <p>jfkSDFSDsFSDjifskdjfiFDSsfijsdkFDSjiesdjSFDfksdfsdf</p>
        </div>
      </div>
      <div class="special-item">
        <div class="special-img float-right"><img src="http://localhost:1313/img/header-bg.jpg"></div>
        <div class="special-content float-right">
          <h2>UUEIFIEFIE</h2>
          <p>jfkSDFSDsFSDjifskdjfiFDSsfijsdkFDSjiesdjSFDfksdfsdf</p>
        </div>
      </div>
      <div class="special-item">
        <div class="special-img float-left"><img src="http://localhost:1313/img/header-bg.jpg"></div>
        <div class="special-content float-left">
          <h2>UUEIFIEFIE</h2>
          <p>jfkSDFSDsFSDjifskdjfiFDSsfijsdkFDSjiesdjSFDfksdfsdf</p>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- courses -->
<section id="courses">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">平台课程</h2>
        <h3 class="section-subheading text-muted section-subtitle">COURSES</h3>
      </div>
    </div>
    <div class="row flexbox flex-space-around">
      <div class="course-wrapper">
        <h3>UEYEUEYEU</h3>
        <div class="course-items">
          <ul>
            <li>heiwfjksdfiejfksd</li>
            <li>heiwfjksdfiejfksd</li>
            <li>heiwfjksdfiejfksd</li>
            <li>heiwfjksdfiejfksd</li>
          </ul>
        </div>
      </div>
      <div class="course-wrapper">
        <h3>UEYEUEYEU</h3>
        <div class="course-items">
          <ul>
            <li>heiwfjksdfiejfksd</li>
            <li>heiwfjksdfiejfksd</li>
            <li>heiwfjksdfiejfksd</li>
            <li>heiwfjksdfiejfksd</li>
            <li>heiwfjksdfiejfksd</li>
            <li>heiwfjksdfiejfksd</li>
            <li>heiwfjksdfiejfksd</li>
          </ul>
        </div>
      </div>
      <div class="course-wrapper">
        <h3>UEYEUEYEU</h3>
        <div class="course-items">
          <ul>
            <li>heiwfjksdfiejfksd</li>
            <li>heiwfjksdfiejfksd</li>
            <li>heiwfjksdfiejfksd</li>
            <li>heiwfjksdfiejfksd</li>
          </ul>
        </div>
      </div>
    </div>
    <!-- singlecourse -->
    <div class="row flexbox flex-space-around">
      <div class="module-wrapper">
        <div class="module"><div class="module-circle">课程介绍</div><p>aslkfjowiesjkdmewifnmdksfjieskfdjiejksdjioekjsdjioesljdkiesdfjk</p></div>
        <div class="module"><div class="module-circle">课程介绍</div><p>aslkfjowiesjkdmewifnmdksfjieskfdjiejksdjioekjsdjioesljdkiesdfjk</p></div>
        <div class="module"><div class="module-circle">课程介绍</div><p>aslkfjowiesjkdmewifnmdksfjieskfdjiejksdjioekjsdjioesljdkiesdfjk</p></div>
        <div class="module"><div class="module-circle">课程介绍</div><p>aslkfjowiesjkdmewifnmdksfjieskfdjiejksdjioekjsdjioesljdkiesdfjk</p></div>
        <div class="module"><div class="module-circle">课程介绍</div><p>aslkfjowiesjkdmewifnmdksfjieskfdjiejksdjioekjsdjioesljdkiesdfjk</p></div>
        <div class="module"><div class="module-circle">课程介绍</div><p>aslkfjowiesjkdmewifnmdksfjieskfdjiejksdjioekjsdjioesljdkiesdfjk</p></div>
      </div>
    </div>
  </div>
</section>








{{ partial "js.html" . }}

</html>